.slider {
    text-align: center;
}

.slider .slider-indicators {
    padding: 0;
}

.slider .slider-previews li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1rem;
    vertical-align: middle;
    border: 5px solid transparent;
}

.slider .slider-previews li img {
    display: block;
}

.slider .slider-previews li img:hover {
    cursor: pointer;
}

.slider .slider-previews li.current {
    border: 5px solid rgba(0,0,0,0.2);
}