body, html{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

#wrap{
    display: none;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(1, 1, 1, 0.725);;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    background-color: antiquewhite;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    width: 960px;
    background-color: rgba(255,255,255,0.5);
}

#logo{
    margin: 10px;
    height: 180px;
    width: auto;
}

#headerText{
    display: flex;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: aliceblue;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}

.taskWindowStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 5px;
    border: 3px solid rgb(255,255,255);
    border-radius: 5px;
    width: 480px;
    background-color: antiquewhite;
}

.taskWindowStyle > p{
    font-size: 18px;
    font-family: Arial;
    text-decoration: solid;
}

.taskButton{
    font-family: Arial;
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: coral;
    font-size: 20px;
    padding: 8px 10px;
    border:none;
    outline: none;
    width: 100px;
    margin: 20px auto;
}

.ol{
    margin: 20px auto;
    width: calc(100% - 50px);
}

.task{
    font-family: Arial;
    font-size: 18px;
}

li > a:link{
    text-decoration: none;
    display: inline-block;
}

li > a:visited {
    color: black;
}

li > a:hover {
    color: coral;
}

li > a:active {
    color: white;
}

input{
    border: 1px solid rgba(244, 110, 120, 0.5);
    height: 20px;
    border-radius: 5px;
}

.closeButton{
    margin-left: auto;
    padding: 0;
    width: 20px;
    height: 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    border:none;
    outline: none;
}

.closeButton > i{
    font-size: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clearButton{
    font-family: Arial;
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: coral;
    font-size: 20px;
    padding: 8px 10px;
    border:none;
    outline: none;
    width: 100px;
    margin: 20px auto;
}

#task1Window{
    display: none;
    width: 480px;
    position: absolute;
}

#task2Window{
    display: none;
    width: 480px;
    position: absolute;
}

#task3Window{
    display: none;
    width: 480px;
    position: absolute;
}

#divTask3Result{
    line-height: 8px;
}

#task4Window{
    display: none;
    width: 480px;
    position: absolute;
}
#task5Window{
    display: none;
    width: 480px;
    position: absolute;
}
#task6Window{
    display: none;
    width: 480px;
    position: absolute;
}
#task7Window{
    display: none;
    width: 480px;
    position: absolute;
}
#divTask7Result{
    height: auto;
    width: 100%;
}
#task8Window{
    display: none;
    width: 480px;
    position: absolute;
}

#divTask8Result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 480px;
}

.flexDivRow{
    display: flex;
    flex-direction: row;
}

#task9Window{
    display: none;
    width: 480px;
    position: absolute;
}
#task10Window{
    display: none;
    width: 480px;
    position: absolute;
}
#task11Window{
    display: none;
    width: 480px;
    position: absolute;
}

#task11Input{
    height: 100px;
    width: calc(100% - 4px);
}

#divTask11Result{
    overflow: hidden;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    background-color: antiquewhite;
}

.footerContainer{
    width: 960px;
    background-color: rgba(255,255,255,0.5);
}

.footerContainer > p{
    float: right;
    margin: 10px;
    font-size: 12px;
}