html,body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 960px;
}

.header{
    display: flex;
    justify-content: center;
    background-color: rgb(255,255,255);
    height: 65px;
}

#logo{
    margin-left: 75px;
    margin-top: 1px;
    width: 105px;
    height: auto;
}

.button-header{
    float: right;
    margin-top: 22px;
    margin-right: 55px;
}

.button-header > a{
    padding: 20px;
    text-decoration: none;
    color: rgb(0,0,0);
    font-size: 14px;
}

.section-overview{
    display: flex;
    justify-content: center;
    background-color: rgb(26,188,156);
    height: 415px;
}

.section-left{
    float: left;
}

#phone{
    margin-left: 205px;
    margin-top: 45px;
    width: 155px;
    height: auto;
}

.section-right{
    float:right;
    margin-top: 90px;
    margin-right: 70px;
    width: 400px;
}

#section-header{
    font-family: Arial;
    color: rgb(255,255,255);
    font-size: 22px;
}

#section-text{
    font-family: Arial;
    text-align: justify;
    line-height: 17px;
    color: rgb(255,255,255);
    margin-top: 40px;
    font-size: 15px;
    width: 400px;
}

#section-button{
    position: absolute;
    margin-top: 40px;
    font-family: Arial;
    text-decoration: none;
    color: rgb(255,255,255);
    font-size: 20px;
    border: 2px solid rgb(255,255,255);
    border-radius: 5px;
    padding: 8px 10px;
}

.section-description{
    display: flex;
    justify-content: center;
    background-color: rgb(255,255,255);
    height: 300px;
}

.section-description-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.article{
    width: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article > h1{
    margin-top: 15px;
    font-size: 14px;
}

.article > p{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
}

.article-round{
    margin-top: 0px;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(26,188,156);
}

.article-image{
    width: 65px;
    height: auto;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(26,188,156);
    height: auto;
}

.footer-container{
    margin: 0 auto;
    width: 300px;
}

#title-footer{
    text-align: center;
    margin-top: 40px;
    color: rgb(255,255,255);
    font-size: 25px;
    font-family: Arial;
}

.form-footer{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 15px;
}

.form-footer-inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 5px 0;
    border: 3px solid rgb(255,255,255);
    border-radius: 8px;
    padding: 8px 10px;
}

.form-footer-inputs > input{
    margin: 2px;
    font-size: 15px;
    border: 0px;
    border-radius: 2px;
}

.form-footer-inputs > h1{
    font-size: 15px;
    font-family: Arial;
    color: rgb(255,255,255);
}

#submite-form-footer{
    text-align: center;
    font-family: Arial;
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: rgb(26,188,156);
    font-size: 20px;
    border: 3px solid rgb(255,255,255);
    border-radius: 8px;
    padding: 8px 10px;
}
