.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

#meet_perth{
    width: 960px;
    min-height: 495px;
    background-image: url("../images/blue-pattern.jpg");
}

#header_nav{
    display: flex;
    flex-direction: row;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: white;
    box-shadow: 10px 10px rgba(0,0,0,0.1);
}

#logo > span{

}

#header_menu{

}